## Inter-Polate()

technique in which fill asstimatted values in missing values. use to fill missing values in rows and collumn,df.values astimste on the base of other data point which is in numerical column.

like 10,20,NaN,40,50 meams we know there is missiging value must be 30. we use this for preserve data for itegrity, replace missing values with arbitrary number. second smooth trends, where continuity matter. like a shop 1000,2000,3000.third is avoid data loss.

## Linear interpolate

In [ ]:
import pandas as pd

data = {
    "Time":[1,2,3,4,5],
    "Value":[10,None,30,40,None],
}

df = pd.DataFrame(data)
print("before interpolation:")
print(df)

df["Value"] = df["Value"].interpolate(method='linear')  # linear interpolation,polynomial,time
# fill missing values using interpolation
print("After interpolation:")
print(df)


# use interpolation in timer series data like stock prices
# numeric which follow trends
# avoid droping rows
# data set structured
# we cannot work with categaries values like name , id.

before interpolation:
   Time  Value
0     1   10.0
1     2    NaN
2     3   30.0
3     4   40.0
4     5    NaN
After interpolation:
   Time  Value
0     1   10.0
1     2   20.0
2     3   30.0
3     4   40.0
4     5   40.0

## Sorting and aggregation

##sorting data

In [ ]:
# managing data by yourself

# df.sort_value(by="Columns Name", True/False,inplace = True) inplace true means value chage there

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 24, 22],
    "Salary": [50000, 60000, 70000, 23700]
}
# single column sorting
df = pd.DataFrame(data)
df.sort_values(by ="Age", ascending=True, inplace=True)  # sort by Age in ascending order for desending order use False
print("After sorting by Age:")
print(df)


#multiple column sorting
df.sort_values(by=["Age", "Salary"], ascending= False, inplace=True)  # sort by Age ascending and Salary descending
print("After sorting by Age and Salary in descending:")
print(df)

After sorting by Age:
      Name  Age  Salary
3    David   22   23700
2  Charlie   24   70000
0    Alice   25   50000
1      Bob   30   60000
After sorting by Age and Salary:
      Name  Age  Salary
1      Bob   30   60000
0    Alice   25   50000
2  Charlie   24   70000
3    David   22   23700

## Aggregation

sums,mean,value counts
summaring statistic numerical summary provided of column,average value ,min,max value.syntax:
df["Column name"].mean()
df["Column name"].sum()
df["Column name"].min()
df["Column name"].max()

In [13]:
df = pd.DataFrame(data)
avg_salary = df["Salary"].mean()  # calculate average salary
print("Average Salary:", avg_salary)
# filter data based on a condition

Average Salary: 50925.0

##Groupings in pandas

In [17]:

data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 24, 22],
    "Salary": [50000, 60000, 70000, 23700]
}
df = pd.DataFrame(data)
grouped = df.groupby("Age")["Salary"].sum()  # group by Age and sum Salary
print("Grouped by Age and summed Salary:")
print(grouped)

Grouped by Age and summed Salary:
Age
22    23700
24    70000
25    50000
30    60000
Name: Salary, dtype: int64


## multiple columns

In [18]:
grouped = df.groupby(["Age","Name"])["Salary"].sum()
print("Grouped by Age and Name and summed Salary:")
print(grouped)

Grouped by Age and Name and summed Salary:
Age  Name
22   David      23700
24   Charlie    70000
25   Alice      50000
30   Bob        60000
Name: Salary, dtype: int64

## Aggregation function

1. sum() add groups values
2. mean() return average value count
3. min() return min value
4. max() return maxvalue
5. count() non Nan values return counts
6. sandard daviation