## Adding columns

In [10]:
import pandas as pd

In [ ]:

data = {
    "Name":['aqsa','ali', 'lily', 'john'],
    "age":[10,20,30,40],
    "city":['lahore','karachi','islamabad', 'multan'],
    "Salary":[100000,20000,50000,60000]
}

df = pd.DataFrame(data)
print(df)



#[]df["coumn name"] = some_Data, syntax of adding new numeric column
# 1 method to add a new column with numeric data
df["Bonus"] = df["Salary"] * 0.1
print(df)
 # Adding a new column with numeric data 
 #2 method to add a new column at specific position using insert,df.insert(loc,Column_Name, some_data) syntax
df.insert(0, "Employee_id", [10, 20, 30, 40] )
print(df)
# Adding a new column at the first position

## Updating Values

In [ ]:
# .loc[] syntax, use to access specific cell and modify it.
# df.;oc[row_index, column_name] = new_value
df.loc[0, "Salary"] = 120000
print(df)

# access multiple rows and columns using .loc[], like increasing salary 5 %

df[ "Salary"] = df[ "Salary"] * 1.05 # for whole column
print(df)
df.loc[0:3, "Salary"] = df.loc[0:3, "Salary"] * 1.05
print(df)

## Removing Data

In [ ]:
# Removing columns, rows we use drop methods
# df.drop(columns = ["ColumnName"], inplace=True) syntax ,
# inplae means it will modify the original dataframe, falsw means it will return a new dataframe
#   removing single column
print("Modify data")
df.drop(columns=["city"], inplace=True)
print(df)

#  removing multiple columns
df.drop(columns=["city","age"], inplace=True)

Modify data
   Employee_id  Name  age       Salary    Bonus
0           10  aqsa   10  132300.0000  10000.0
1           20   ali   20   24310.1250   2000.0
2           30  lily   30   60775.3125   5000.0
3           40  john   40   69457.5000   6000.0